<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

   div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
    </style>
</head>
<body>
{% include 'nav.html' %}
<h1>All Classes</h1>

<div class="gallery">
    <a target="_blank" href="/Math">
        <img src="/static/math.jpg" alt="Math" width="600" height="400">
    </a>
    <div class="desc">Math</div>
</div>

<div class="gallery">
    <a target="_blank" href='/Science'>
        <img src="/static/science.jpg" alt="Science" width="600" height="400">
    </a>
    <div class="desc">Science</div>
</div>

<div class="gallery">
    <a target="_blank" href="/English">
        <img src="/static/english.jpg" alt="English" width="600" height="400">
    </a>
    <div class="desc">English</div>
</div>

<div class="gallery">
    <a target="_blank" href='/History'>
        <img src="/static/history.jpg" alt="History" width="600" height="400">
    </a>
    <div class="desc">History</div>
</div>
</body>
</html>