<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body  {
        background-image: url('/static/light.jpg'); background-size: cover;
    }
    h1 {
  color: black;
  font-family: times new roman;
  font-size: 300%;
  text-align: center;
    }
     h3 {
  color: black;
  font-family: times new roman;
    }
    </style>
</head>
<body>
{% include 'nav.html' %}
<h1>Classes Sort</h1>

<div align="left">
    <section id="done">
        <form id="form" action="" method="POST">
            <input type="checkbox" id="subject1" name="sort" value="AP US History">
            <label for="subject1">AP US History</label><br>
            <input type="checkbox" id="subject2" name="sort" value="Pre-Calculus">
            <label for="subject2">Pre-Calculus</label><br>
            <input type="checkbox" id="subject3" name="sort" value="Honors Humanities">
            <label for="subject3">Honors Humanities</label><br>
            <input type="checkbox" id="subject4" name="sort" value="Racquet Sports">
            <label for="subject4">Racquet Sports</label><br>
            <input type="checkbox" id="subject5" name="sort" value="AP Statistics">
            <label for="subject5">AP Statistics</label><br>
            <input type="checkbox" id="subject6" name="sort" value="AP English Language">
            <label for="subject6">AP English Language</label><br>
            <input type="checkbox" id="subject7" name="sort" value="AP European History">
            <label for="subject7">AP European History</label><br>
            <input type="checkbox" id="subject5" name="sort" value="World History">
            <label for="subject5">World History</label><br>
            <button class="btn  my-2 my-sm-0 text-white bg-info" type="submit"> Alphabetize these classes</button>
        </form>
    </section>

    <h3> {{bubbles.list}}</h3>
</div>
</body>
</html>