<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&amp;display=swap" rel="stylesheet">

<head>
    <link rel="icon" href="https://img.icons8.com/material-sharp/24/000000/apple-arcade.png"/>
    <meta charset="UTF-8">
    <title>about</title>
</head>

    
    
<body>
{% include 'nav.html' %}

<div class="w3-pale-green w3-large">
    <div>
        <div class="w3-row w3-padding w3-green">
            <div class="w3-col s2">
                <a href="/" class="w3-button w3-block w3-green">HOME</a>
            </div>
            <div class="w3-col s2">
                <a href="#arul" class="w3-button w3-block w3-green">ARUL</a>
            </div>
            <div class="w3-col s2">
                <a href="#crystal" class="w3-button w3-block w3-green">CRYSTAL</a>
            </div>
            <div class="w3-col s2">
                <a href="#ida" class="w3-button w3-block w3-green">IDA</a>
            </div>
            <div class="w3-col s2">
                <a href="#manuel" class="w3-button w3-block w3-green">MANUEL</a>
            </div>
            <div class="w3-col s2">
                <a href="#sophie" class="w3-button w3-block w3-green">SOPHIE</a>
            </div>
        </div>
    </div> <!--navbar-->

    <h1 align=center class="w3-green" style="font-family: Brush Script MT; font-size: 100px;"> About the Creators of LinkDN </h1> <!-- Individual journal title -->
    <p align=center> This is the About Us page. Use the navbar to jump to each creator you would like to see. </p> <!-- Page Explanation -->



    <section id="arul">
        <div class="w3-content">
            <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-green"> ARUL </span></h5>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTZ_fG0m4k7Fcl2aNDQt6vPN281gJzJ-8e5UCgLKZTEAF_nF7SAU9ANVQIY9wRdWcsf3rziHKFvFmRr/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </div>
        <h2>Contact Arul through e-mail!</h2>
        <form action="mailto:arul.salaniwal@gmail.com" method="post" enctype="text/plain">
             <br>
            <input type="text" name=" "><br>
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </section>

    <section id="crystal" style="w3-cyan width:100%">
        <div align="center" style="w3-cyan width:100%" >
            <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-green">CRYSTAL</span></h5>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTZ_fG0m4k7Fcl2aNDQt6vPN281gJzJ-8e5UCgLKZTEAF_nF7SAU9ANVQIY9wRdWcsf3rziHKFvFmRr/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></iframe>
        </div>
        <h2>Contact Crystal through e-mail!</h2>
        <form action="mailto:" method="post" enctype="text/plain">
             <br>
            <input type="text" name=" "><br>
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </section>

    <section id="ida" style="w3-cyan width:100%">
        <div align="center" style="w3-cyan width:100%" >
            <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-green">IDA</span></h5>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTZ_fG0m4k7Fcl2aNDQt6vPN281gJzJ-8e5UCgLKZTEAF_nF7SAU9ANVQIY9wRdWcsf3rziHKFvFmRr/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></iframe>
        </div>
        <h2>Contact Ida through e-mail!</h2>
        <form action="mailto:" method="post" enctype="text/plain">
             <br>
            <input type="text" name=" "><br>
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </section>

    <section id="manuel" style="w3-cyan width:100%">
        <div align="center" style="w3-cyan width:100%" >
            <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-green">MANUEL</span></h5>
            <iframe src="https://docs.google.com/document/d/1jMtzi4i17i17SYjVa3cnJK06rem81XqqCBozq5FvPXc/edit" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></iframe>
        </div>
        <h2>Contact Manuel through e-mail!</h2>
        <form action="mailto:mvvillah@icloud.com" method="post" enctype="text/plain">
             <br>
            <input type="text" name=" "><br>
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </section>

    <section id="sophie" style="w3-cyan width:100%">
        <div align="center" style="w3-cyan width:100%" >
            <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-green">SOPHIE</span></h5>
            <iframe src="https://drive.google.com/file/d/1GvY-zwcC_H3EDUrmwy8P1oIQA__vBMs_/preview" width="640" height="480" allow="autoplay"></iframe>        </div>
        <h2>Contact Sophie through e-mail!</h2>
        <form action="mailto:" method="post" enctype="text/plain">
             <br>
            <input type="text" name=" "><br>
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </section>
    <h4>Click on each person to know how they contributed to the project and what they think the purpose of LinkDN is</h4>
</div>
</body>
<style>
    body,h1 {
        font-family: "Roboto";
    }

    h2 {
        position: relative;
        font-family: "Roboto";
        top: 70px;
        color: black;
        text-align: center;
    }

    body, html {
        height: 100%;
        top: 35px;
    }

    .bgimg {
        background-image: url("https://ak.picdn.net/shutterstock/videos/1019919385/thumb/1.jpg");
        min-height: 50%;
        background-position: center;
        background-size: cover;
    }

    button {
        position: relative;
        left: -900px;
        top: -390px;
    }

</style>
</html>
