{% block content %}
<head>
    <title>Link-DN</title>
</head>
<body>

<div class="logo">
    <div style="display:grid; padding: 130px; grid-template-columns: 2fr 1fr;">
        <div style="float:right;">
            <h1 class="tunesTitle"><strong>Link-DN</strong></h1>
            <p class="tunesSub">Connecting Del Norte High School Students</p>
            <a href="/signup" class="blueBtn"><strong>Sign Up</strong></a>
        </div>
        <div>
            <img style="float:left; margin-top:-20px" src="/static/logo.png">
        </div>

    </div>
</div>


</body>
{% endblock %}
