<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Labs</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Names</th>
        <td>Sophie</td>
        <td>Arul</td>
        <td>Manuel</td>
        <td>Ida</td>
        <td>Crystal</td>
    </tr>
    <tr>
        <th>MiniLab 1 Code</th>
        <td>  </td>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@ArulSalaniwal1/minilabtrial?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
        <td>  </td>
        <td>  </td>
    </tr>
</table>
</body>
</html>