
{% include 'nav.html' %}
<head>
    <meta charset="UTF-8">
    <title>Mini Labs</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Names</th>
        <td>Minilab 1 code (Scroll down to see everyone)</td>
    </tr>
    <tr>
        <th>Sophie</th>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@sophiebulkin/sophiesminilab?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
    </tr>
    <tr>
        <th>Arul (WOW/insight: I learned to incorporate mathematical functions with various classes and objects)</th>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@ArulSalaniwal1/minilab?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
    </tr>
    <tr>
        <th>Manuel</th>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
    </tr>
    <tr>
        <th>Crystal</th>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
    </tr>
    <tr>
        <th>Ida</th>
        <td> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </td>
    </tr>
</table>
</body>
</html>