<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mini Labs</title>
</head>
<body>
{% include 'nav.html' %}

<table style="width:100%">
    <tr>
        <td>Minilab 1 code (Scroll down to see the reflections)</td>
        <th>Names</th>
    </tr>
    <tr>
        <th> <iframe height="400px" width="100%" src="https://replit.com/@sophiebulkin/sophiesminilab?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </th>
        <td>Sophie </td>
    </tr>
    <tr>
        <th> <iframe height="400px" width="100%" src="https://replit.com/@ArulSalaniwal1/minilab?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </th>
        <td>Arul </td>
    </tr>
    <tr>

        </th>
        <th> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </th>
        <td>Manuel </td>
    </tr>
    <tr>
        <th> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </th>
        <td>Crystal</td>
    </tr>
    <tr>
        <th> <iframe height="400px" width="100%" src="https://replit.com/@ManuelVillaHern/test?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe> </th>
        <td>Ida</td>
    </tr>
</table>
</body>
<h2> Reflections for mini lab #1:</h2>
<h2> Sophie: The wow factor is displaying both the greatest common denominator and least common multiple and knowing how to include mathematical algorithms in my project. The first binary point of using an individual blueprint for my scrum team project can be shown through the minilabs. html file where I set up a table for each group members code to be organized. My blueprints can also be found in the administration directory. The second binary point says to define a class to manage a complex data set, which is shown in line 4 of the code where I define a class as Least Common Multiple. The third binary point comes from creating an object from a class in python, which is shown in line 31 which creates a class object. The 4th binary point comes from displaying data using getters which is shown in lines 19 and 23 when I write @property.  </h2>
<h2> Crystal:</h2>
<h2> Ida:</h2>
<h2> Arul: the wow factor is the ability to find the factorial of two distinct numbers and using mathematical algorithms. Classes and objects can also be found there. My blueprints are located in the sports directory. Used getters in allsports.html. </h2>
<h2> Manuel: the wow factor is the ability to find a number that is divisible by a greater number using mathematical algorithms. Classes and objects can also be found there. My blueprints are located in the teacher directory. Used getters in teacher.html.</h2>
</html>