<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How It Was Made</title>
</head>
<body>
<iframe src="https://drive.google.com/file/d/14nrsCibedm2wTTwiHvwOXSbKt6SZ_iup/preview" width="640" height="480"></iframe>


During the process of creating this website, we each focused on different aspects so that we could meet all of the requirments and maximize the functionality of our website. The overall purpose of LinkDN is so that students can share their "stats," what classes they are taking, and their accomplishments outside of school. Ideally, LinkDN will be able to be used as a platform for students to create study/support groups with one another.
</body>
</html>