<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WHAT IS LINKDN</title>
</head>
<body>
{% extends "about.html" %}

{% block individual %}
<h2>{{greeting}}</h2>
<h2>{{summary}}</h2>
<h4>{{purpose}}</h4>
<h4>{{creator}}</h4>
<h4>{{contributions}}</h4>
<!-- Jinja-->
<h2> Hello!</h2>
<h2> Our project was inspired by linkedin which is the world's largest professional network on the internet. You can use LinkedIn to find the right job or internship, connect and strengthen professional relationships, and learn the skills you need to succeed in your career.This website serves a similar purpose, but soley for the use of DNHS students </h2>
<h4> My name is Sophie Bulkin. I am 16 years old and an 11th grader at DNHS</h4>
<h4> My contribution to this project so far are the feedback and profile page. I plan on making a quiz page within the next sprint as well</h4>
<!-- embedded artifacts-->
{% endblock %}


</body>
</html>